/* Basics ---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Spinnaker&family=Unica+One&display=swap');

html {
    box-sizing: border-box;
}

body {
    background-color: #a0cbe4;
    margin: 0;
}

* {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Unica One', cursive;
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

a {
    text-decoration: none;
}

.div-padding {
    padding: 20px;
}

.bottom-padding {
    padding-bottom: 10px;
}

.max-width {
    max-width: 1000px;
}

.vertical-break {
    padding: 5px 0;
}

.center-text {
    text-align: center;
}

html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
  }

/* Navbar ---------------------------- */
nav {
    background-color: #a0cbe4;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.navbar ul {
    padding-inline-start: 0;
    margin-bottom: 5px;
    margin-top: 0;
}

.site-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-item a {
    padding: 0 5px;
    color: #1C1F36;
    font-family: 'Unica One', cursive;
    font-size: 1.5em;
}

.menu-item:hover {
    border-bottom: 1px solid #1C1F36;
    vertical-align: top;
}

.active {
    border-bottom: 1px solid #1C1F36;
    border-top: 1px solid #1C1F36;
    vertical-align: top;
}

/* Footer ---------------------------- */

footer {
    background-color: #0c222f;
    padding: 5px 10px;
    bottom: 0;
    color: #a0cbe4;
}

footer ul {
    padding: 0;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 10px 2%;
    color: #a0cbe4;
}

/* Index  ---------------------------- */
#welcome {
    position: relative;
}

#home-img {
    background: #194864 url('../media/heroimage.png') no-repeat right bottom;
    /* width: 100vw; */
    height: 80vh;
    background-size: auto 100%;
}

.center-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#img-overlay {
    width: 70vw;
    background-color: rgba(153, 194, 218, 0.7);
    position: absolute;
    bottom: 10%;
    right: 12.5vw;
}

#img-overlay p {
    text-align: center;
}

.blue-button {
    border-radius: 25px;
    /* width: 125px; */
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 100%;
    background-color: #84B2CD;
    border: 0 solid #1C1F36;
    color: #1C1F36;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blue-button:hover {
    border-radius: 25px;
    /* width: 125px; */
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 100%;
    background-color: #1C1F36;
    border: 0 solid #84B2CD;
    color: #84B2CD;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blue-button a {
    text-decoration: none;
    color: #1C1F36;
}

.blue-button a:hover {
    text-decoration: none;
    color: #84B2CD;
}

/* About */

#about {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
}

#about h3 {
    /* font-weight: bold; */
    text-decoration: underline double 1px;
}

#selfie {
    width: 280px;
    margin: auto;
}

#skills {
    background-color: #a0cbe4;
    /* padding: 10px; */
    flex: 33%;
    /* border-top: 1px double #BDF6F7; */
}

#skills>ul {
    list-style-position: inside;
}

#dragon-tactics {
    background-color: #a0cbe4;
    flex: 66%;
}

#dragon-tactics a {
    text-decoration: none;
    color: #1C1F36;
}

/* CONTACT -------------------------------  */
#contact-bg {
    background: #194864 url('../media/heroimage-mirrored.png') no-repeat left bottom;
    /* width: 100vw; */
    height: 90vh;
    background-size: auto 100%;
}

.form-section {
    display: flex;
    justify-content: center;
    height: 85vh;
}

.signup-form {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.8);
    max-width: 400px;
    margin: auto;
    padding: 30px;
}

.signup-form>h2 {
    color: #fafafa;
    /* margin-bottom: 20px; */
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.selectbox {
    width: 100%;
    height: 25px;
    margin: 3px 0 20px 0;
}

.textarea {
    width: 100%;
    height: 100%;
    margin: 3px 0 20px 0;
}

#formbuttons {
    float: right;
}

.red-button {
    margin-right: 20px;
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    /* font-size: 100%; */
    background-color: #a02424;
    border: 0 solid;
    color: #f7bdbd;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.red-button:hover {
    background-color: #f7bdbd;
    color: #a02424;
    border-color: #a02424
}

/* Services page ---------------------------- */

#services-bg {
    background: #194864 url('../media/services-bg.webp') no-repeat center;
    /* width: 100vw; */
    height: 10vh;
    background-size: auto 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses-offers h3 {
    /* font-weight: bold; */
    text-decoration: underline double 1px;
}

.recruitment h3 {
    /* font-weight: bold; */
    text-decoration: underline double 1px;
}

.courses-offers {
    /* padding: 100px 0; */
    margin: auto;
    width: 85vw;
}

.courses-offers a {
    text-decoration: none;
    color: #1C1F36;
}

table,
th,
td {
    border: 1px solid #fff;
    border-collapse: collapse;
}

table {
    width: 80vw;
    background-color: #427DA0;
    margin: auto;
}

th {
    text-align: start;
    padding: 5px 10px;
}

td {
    padding: 5px 10px;
}

.recruitment {
    margin: auto;
    width: 85vw;
}

.recruitment>ul {
    list-style-position: inside;
}

/* @media screen and (min-width: 470px) {
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    p {
        font-size: 16px;
    }
    ul li {
        font-size: 16px;
    }
} */

@media screen and (max-width: 768px) {
    #about {
        display: flex;
        flex-direction: column-reverse;
    }
}