/* Basics ---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Spinnaker&family=Unica+One&display=swap');

html { box-sizing: border-box;}
body { background-color: #194864; margin: 0;}
* { font-family: 'Lato', sans-serif;}
h1, h2, h3 { font-family: 'Unica One', cursive; font-weight: normal; margin: 0;}
h1 { font-size: 2.5em;}
h2 { font-size: 2.2em;}
h3 { font-size: 1.8em;}
a { text-decoration: none;}
.div-padding { padding: 20px;}
.bottom-padding { padding-bottom: 10px;}

/* Navbar ---------------------------- */
nav {
    background-color: #a0cbe4;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.navbar ul {
    padding-inline-start: 0;
    margin-bottom: 5px;
    margin-top: 0;
}
.site-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

/* .menu-item {
    text-align: center;
} */

.menu-item a {
    padding: 0 5px;
    color: #1C1F36;
    font-family: 'Unica One', cursive;
    font-size: 1.5em;
}
.menu-item:hover {
    border-bottom: 1px solid #1C1F36;
    vertical-align: top;
}

.active {
    border-bottom: 1px solid #1C1F36;
    border-top: 1px solid #1C1F36;
    vertical-align: top;
}

/* Footer ---------------------------- */

footer {
    background-color: #0c222f;
    padding: 5px 10px;
    bottom: 0;
    color: #a0cbe4;
}

.socials {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 10px 2%;
    color: #a0cbe4;
}

/* Index  ---------------------------- */
#welcome {
    position: relative;
}
#home-img {
    background: #194864 url('../media/heroimage.png') no-repeat right bottom;
    width: 100vw;
    height: 95vh;
    background-size: auto 100%;
}

.center-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#img-overlay {
    width: 70vw;
    background-color: rgba(153, 194, 218, 0.7);
    position: absolute;
    bottom: 10%;
    right: 12.5vw;
    /* padding: 10px; */
}

#img-overlay p {
    text-align: center;
    /* padding: 20px; */
}

#img-overlay button {
    border-radius: 25px;
    width: 125px;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 100%;
    background-color: #427DA0;
    border: 0 solid;
    color: #BDF6F7;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#img-overlay button:hover {
    background-color: #BDF6F7;
    color: #427DA0;
    border-color: #427DA0
}

#img-overlay button a {
    text-decoration: none;
    color: #1C1F36;
}

/* About */

#about {
    display: flex;
    flex-direction: row;
}

#skills {
    background-color: #2e414c;
    /* padding: 10px; */
    flex: 33%;
    /* border-top: 1px double #BDF6F7; */
}

#skills > ul {
    list-style-position: inside;
}

#dragon-tactics {
    background-color: #2e414c;
    /* padding: 10px; */
    flex: 66%;
    /* border-top: 1px double #BDF6F7; */
    color: #BDF6F7;
}
/* CONTACT FORM */

.form-section {
    display: flex;
    justify-content: center;
    height: 85vh;
}

.signup-form {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    margin: auto;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    /* margin-bottom: 20px; */
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.selectbox {
  width: 100%;
  height: 25px;
  margin: 3px 0 20px 0;
}

.textarea {
  width: 100%;
  height: 100%;
  margin: 3px 0 20px 0;  
}

#formbuttons {
  display: flex;
  justify-content: flex-end;
}

.join-button {
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    /* font-size: 100%; */
    background-color: #427DA0;
    border: 0 solid;
    color: #BDF6F7;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.reset-button {
    margin-right: 20px;
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    /* font-size: 100%; */
    background-color: #a02424;
    border: 0 solid;
    color: #f7bdbd;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.join-button:hover {
    background-color: #BDF6F7;
    color: #427DA0;
    border-color: #427DA0
}

.reset-button:hover {
    background-color: #f7bdbd;
    color: #a02424;
    border-color: #a02424
}

/* Services page ---------------------------- */

/* #services-content p {
    padding-bottom: 10px;
}

#services-content ul {
    padding-bottom: 15px;
} */

.courses-offers {
    /* padding: 100px 0; */
    margin: auto;
    width: 85vw;
}

table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
  }
  
  table {
    width: 80vw;
    background-color: #427DA0;
    margin: auto;
  }
  
  th {
    text-align: start;
    padding: 5px 10px;
  }
  
  td {
    padding: 5px 10px;
  }

  .recruitment {
    margin: auto;
    width: 85vw;
  }

  .recruitment > ul {
    list-style-position: inside;
}

/* @media screen and (min-width: 470px) {
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    p {
        font-size: 16px;
    }
    ul li {
        font-size: 16px;
    }
} */

@media screen and (max-width: 768px) {
    #about {
        display: flex;
        flex-direction: column-reverse;
    }
    }