/* Basics */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Playfair+Display:wght@400;500;700&family=Righteous&family=Source+Sans+Pro:wght@300;400;700&family=Quicksand:wght@500&display=swap');

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #194864;
}

ul li {
    font-size: 3vw;
}
a {
    text-decoration: none;
}

/* General --------------------------- */

h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-size: 7vw;
}

h3 {
    font-size: 5vw;
    padding-left: 5px;
}

p {
    font-size: 3vw;
    padding-top: 5px;
}

/* Navbar ---------------------------- */

nav {
    background-color: #427DA0;
    padding: 5px 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-item {
    text-align: center;
}

.menu-item a {
    display: inline-block;
    text-decoration: none;
    padding: 0 5px;
    color: #1C1F36;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.menu-item:hover {
    border-bottom: 1px solid #BDF6F7;
    vertical-align: top;
}
.menu-item:hover a {
    color: #BDF6F7;
}

.active {
    color: #BDF6F7;
    border-bottom: 1px solid #BDF6F7;
    vertical-align: top;
}
#menu-home {
    color: #BDF6F7;
}
#menu-services {
    color: #BDF6F7;
}
#menu-contact {
    color: #BDF6F7;
}

/* Index Content ---------------------------- */
#welcome {
    position: relative;
}
#home-img {
    background: #194864 url('../media/heroimage.png') no-repeat right bottom;
    width: 100vw;
    height: 80vh;
    background-size: auto 100%;
}

#img-overlay {
    width: 70vw;
    background-color: rgba(153, 194, 218, 0.7);
    position: absolute;
    bottom: 10%;
    right: 15%;
    padding: 10px;
}

#img-overlay p {
    text-align: center;
    padding: 20px;
}

/* About Section -----------------------*/

#about {
    display: flex;
    flex-direction: row;
}

#skills {
    background-color: #427DA0;
    padding: 10px;
    flex: 33%;
    border-top: 1px double #BDF6F7;
}

#dragon-tactics {
    background-color: #194864;
    padding: 10px;
    flex: 66%;
    border-top: 1px double #BDF6F7;
    color: #BDF6F7;
}

@media screen and (min-width: 470px) {
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    p {
        font-size: 13px;
    }
    ul li {
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    #about {
        display: flex;
        flex-direction: column-reverse;
    }
    }